<div>
	<div>
		<hi>ジャンル編集画面</hi>
		<p>ジャンル</p>
		<div>
			<%= form_with(model:@genre,url:admins_genre_path, local: true) do |f| %>
			<p>ジャンル
				<%= f.label :name %>
				<%= f.text_field :name%>
			</p>
			<label>
				<%= f.radio_button :status, true %>
				<%= f.label :status, "有効", {value: :true, style: "display: inline-block;"} %>
			</label>
			<label>
				<%= f.radio_button :status, false %>
				<%= f.label :status, "無効", {value: :false, style: "display: inline-block;"} %>
			</label>
			<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>
