<div>
	<div>
		<hi>ジャンル編集画面</hi>
		<p>ジャンル</p>
		<div>
			<%= form_for(@genre,url:admins_genre_path, local: true) do |f| %>
			<p>ジャンル
				<%= f.label :name %>
				<%= f.text_field :name%>
			</p>
			<label>
				<%= f.radio_button :status, :draft %>
				<%= f.label :status, "有効" %>
			</label>
			<label>
				<%= f.radio_button :status, :published %>
				<%= f.label :status, "無効" %>
			</label>
			<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>
