<%= attachment_image_tag @product, :image, style:"width:100%; bottom: 45px;" %><h3><%= @product.name %></h3>
<p><%= @product.introduction%></p>
<p>￥
	<%= (@product.unit_price * 1.1).round %>(税込み)</p>

	<%= form_with(model:@cart,url: members_cart_products_path,local: true,method: :POST) do |f| %>

	<%= f.label  :quantity, "個数選択" %>
	<%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10]%>
	<%= f.hidden_field :product_id, :value => @product.id%>
	<%= f.submit "カートに入れる" %>
	<% end %>