<h1>購入情報確認画面</h1>
<table>
	<tr>
		<th>商品名</th>
		<th>単価(税込)</th>
		<th>数量</th>
		<th>小計</th>
	</tr>
	<%if @cart_products.present? %>
	<% @cart_products.each do |cart_product| %>
	<tr>
		<td><%= attachment_image_tag cart_product.product, :image, style:"width:100px; bottom: 5px;" %><%= cart_product.product.name %></td>
		<td><%= (cart_product.product.unit_price * 1.1).round  %></td>
		<td>
			<%= cart_product.quantity %></td>
			<td><%= (cart_product.product.unit_price * 1.10 * cart_product.quantity).to_i.to_s(:delimited) %>円 </td>
		</tr>
	</table>
	<% end %>
	<% end %>
	<table>
		<tr>
			<th>送料</th>
			<th>合計</th>
			<th>請求</th>
		</tr>
		<tr>
			<td><%= @order.postage %></td>
			<td><%= (@total_price * 1.1).round %></td>
			<td><%= @order.billing_amount %></td>
		</tr>
	</table>

	<div>支払い方法
		<%= @order.payment_method_i18n %>
	</div>
	<div>お届け先
		<%= @order.postcode %><%= @order.address %><%= @order.name %>
	</div>

	<%= form_for(@order,url:members_orders_path) do |f| %>
	  <%= f.hidden_field :postcode %>
	  <%= f.hidden_field :address %>
	  <%= f.hidden_field :name %>
	  <%= f.hidden_field :payment_method %>
	  <%= f.hidden_field :builling_amount, :value => @order.billing_amount  %>
	  <%= f.hidden_field :postage %>
	  <% @cart_products.each do |cart_product| %>
	    <%= f.fields_for :order_products do |o| %>
	      <%= o.hidden_field :product_id, :value => cart_product.product_id %>
	      <%= o.hidden_field :member_id, :value => current_member.id %>
	      <%= o.hidden_field :quantity, :value => cart_product.quantity %>
	      <%= o.hidden_field :unit_price, :value => cart_product.product.unit_price %>
	      <%= o.hidden_field :name, :value => cart_product.product.name %>
	    <% end %>
	  <% end %>
	<div class="clearfix"></div>
	<%= f.submit "購入を確定する" ,class:"btn btn-primary btn-lg center-block" %>
	<% end %>


