<h1>購入情報確認画面</h1>

<%if @cart_products.present? %>
<% @cart_products.each do |cart_product| %>
<table>
<tr>
	<th>商品名</th>
	<th>単価(税込)</th>
	<th>数量</th>
	<th>小計</th>
</tr>
<tr>
	<td><%= attachment_image_tag cart_product.product, :image, style:"width:100px; bottom: 5px;" %><%= cart_product.product.name %></td>
	<td><%= (cart_product.product.unit_price * 1.1).round  %></td>
	<td>
		<%= cart_product.quantity %></td>
		<td><%= (cart_product.product.unit_price * 1.10 * cart_product.quantity).to_i.to_s(:delimited) %>円 </td>
	</tr>
</table>
<tr>
	<th></th>
	<th></th>
	<th></th>
</tr>
<tr>
<td>送料<%= @order.postage %></td>
<td></td>
<td></td>
</tr>

<div>支払い方法
	<%= @order.payment_method %>
</div>
<div>お届け先
	<%= @order.postcode %><%= @order.address %><%= @order.name %>
</div>
<% end %>
<% end %>
