<% @orders.each do |order| %>
<table>
	<tr>
		<th>注文日</th>
		<th>配送先</th>
		<th>注文商品</th>
		<th>支払い金額</th>
		<th>ステータス</th>
		<th>注文詳細</th>
	</tr>
	<tr>
		<td><%= l order.created_at, format: :short %></td>
		<td><%= order.postcode %><br>
			<%= order.address %><br>
			<%= order.name %>
		</td>
		<td><%= order.order_products.name %></td>
		<td><%= order.billing_amount %></td>
		<td><%= order.order_status_i18n  %></td>
		<td><%= link_to "表示する",members_order_path(order.id) %></td>
    </tr>
</table>
<% end %>
