<div class="row" style= "width: 80%; margin: 20px auto;">
	<div  class= "col-md-9">
		<div class="row" style= "width: 100%; margin: 20px auto;">
			<div class="form-horizontal">
				<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">注文情報入力</h4>
			</div>
		</div>
	</div>
</div>

<div class="container">
		<div class="form-group">
			<%= form_with(model:@order,url:members_orders_confirm_path,method: :get,local:true) do |f| %>
			<%= f.hidden_field :member_id %>
			<h3>☆支払い方法</h3>
			<label>
				<%= f.radio_button :payment_method, :card %>
				<%= f.label :payment_method, "クレジットカード"%><br>
				<%= f.radio_button :payment_method, :bank %>
				<%= f.label :payment_method, "銀行振込" %>
			</label>
		</div>

		<div class="form-group">
			<h3>☆お届け先</h3>
			<label>
				<%= radio_button_tag(:address_select,:address1,checked: "checked") %>
				<%= f.label(:address_select,"ご自身の住所", value:"address1") %><br>
				<div>〒<%= current_member.postcode %><br>
					<%= current_member.address %></div><br>
					<%= radio_button_tag(:address_select,:address2,checked: "checked") %>
					<%= f.label(:address_select, "登録済住所から選択", value: "address2") %><br>
					<%= f.collection_select(:address_id,@destination,:id,:view_postcode_and_adress_and_name) %>
				</label>
			</div>

				<div class="form-group">
					<label>
						<%= radio_button_tag(:address_select,:address3,checked: "checked") %>
						<%= f.label(:address_select, "新しいお届け先", value: "address3") %><br>

						<%= f.fields_for :destination do |d| %>
						<label class="control-label col-xs-2">郵便番号(ハイフンなし)</label>
						<div>〒<%= d.text_field :postcode, style: "width: 70%;" %></div>


						<label class="control-label col-xs-2">住所</label>
						<div><%= d.text_field :address, style: "width: 200%;" %></div>

						<label class="control-label col-xs-2">宛名</label><br>
						<div><%= d.text_field :name, style: "width: 80%;" %></div>
					</label>
					<div class="text-center">
						<%= f.submit "確認画面へ進む",class: "btn btn-primary col-xs-12" %>
					</div>
					<% end %>
					<% end %>
				</div>
		</div>