<h4>配送先登録/一覧</h4>
<%= form_for(@destination, url: members_destinations_path, local: true) do |f| %>
<table>
	<tr>
		<th>郵便番号(ハイフンなし)</th>
		<td><%= f.text_field :postcode %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= f.text_field :address %></td>
	</tr>
	<tr>
		<th>宛名</th>
		<td><%= f.text_field :name %></td>
	</tr>
</table>
<%= f.submit class: "btn btn-primary col-xs-12" %>
<% end %>

	<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th colspan="3"></th>
				</tr>
			</thead>
	<% @destinations.each do |destination| %>
	<tbody>
		<tr>
		<td>
			<%= destination.postcode %>
		</td>
		<td>
			<%= destination.address %>
		</td>
		<td>
			<%= destination.name %>
		</td>
		<td>
			<%= link_to "編集する", edit_members_destination_path(destination), class:"btn btn-outline-info" %>
			<%= link_to "削除する", members_destination_path(destination),method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger" %>
		</td>
		</tr>
	</tbody>
	<% end%>
</table>