<div class="row" style= "width: 80%; margin: 20px auto;">
  <div class="form-horizontal">
      <h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">配送先登録/一覧</h4>
    </div>
  </div>
  <div class="index-container" style="width:60%; margin: 20px auto;">
<%= form_for(@destination, url: members_destinations_path, local: true) do |f| %>
 <table class="table table-bordered">
 	<tr>
		<th>郵便番号(ハイフンなし)</th>
		<td><%= f.text_field :postcode, style: "width: 40%;" %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= f.text_field :address, style: "width: 100%;" %></td>
	</tr>
	<tr>
		<th>宛名</th>
		<td><%= f.text_field :name, style: "width: 40%;" %></td>
	</tr>
</table>
<div class="text-right">
<%= f.submit class: "btn btn-primary col-xs-12" %>
</div>
<% end %>

	<table class="table table-bordered" style="margin-top: 20px;">
			<thead>
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th ></th>
				</tr>
			</thead>
	<% @destinations.each do |destination| %>
	<tbody>
		<tr>
		<td>
			<%= destination.postcode %>
		</td>
		<td>
			<%= destination.address %>
		</td>
		<td>
			<%= destination.name %>
		</td>
		<td>
			<%= link_to "編集する", edit_members_destination_path(destination), class:"btn btn-outline-info" %>
			<%= link_to "削除する", members_destination_path(destination),method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger" %>
		</td>
		</tr>
	</tbody>
	<% end%>
</table>
</div>
