<%= form_for(@member, url:admins_member_path,  local: true) do |f| %>
<h1>会員編集画面</h1>
<div>
	<p>会員ID<%= @member.id %></p>
	<div>
		<p>
			<%= f.label :氏名 %>
			<%= f.text_field :last_name %>
			<%= f.text_field :first_name %>
		</p>
		<p>
			<%= f.label :フリガナ %>
			<%= f.text_field :kana_last_name %>
			<%= f.text_field :kana_first_name %>
		</p>
		<p>
			<%= f.label :郵便番号 %>
			<%= f.text_field :postcode %>
		</p>
		<p>
			<%= f.label :住所 %>
			<%= f.text_field :address %>
		</p>
		<p>
			<%= f.label :電話番号 %>
			<%= f.text_field :phone_number %>
		</p>
		<p>
			<%= f.label :メールアドレス %>
			<%= f.text_field :email %>
		</p>
		<div>
			<label>
				<%= f.radio_button :is_withdrow, :published%>
				<%= f.label :is_withdrow, "有効" %>
			</label>
			<label>
				<%= f.radio_button :is_withdrow, :draft %>
				<%= f.label :is_withdrow, "無効" %>
			</label>
		</div>
		 <%= f.submit "登録する", class:"btn btn-primary btn-md" %>
	</div>
	<div>
		<%= link_to "戻る",admins_member_path,class: "btn btn-success col-xs-12"%>
	</div>

</div>
<% end %>