<style>
th {
	background: #FFC7AF;
}
</style>

<div class="row" style= "width: 80%; margin: 20px auto;">
	<div class="form-horizontal">
		<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">会員一覧</h4>
	</div>
</div>
<div class="index-container" style="width:60%; margin: 20px auto;">
	<div class="row">
	<table class="table">
		<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>メールアドレス</th>
		<th>退会ステータス</th>
	</tr>
	<%if @members.present? %>
	<% @members.each do |member| %>
	<tr>
		<td><%= member.id %></td>
		<td>
		<%= link_to admins_member_path(member) do %>
		<%= member.last_name %><%= member.first_name %>
			<% end %>
		</td>
		<td><%= member.email %></td>
		<td><%= member.is_withdrow_i18n %></td>
	</tr>
	<% end %>
	<% end %>

</table>