<h1>会員詳細画面</h1>
<div>
	<div>
	<p>顧客ID<%= @member.id%></p><div><%= @member.is_withdrow_i18n %>会員</div></div>
</div>
<div>
	<p>氏名</p>
	<%= @member.first_name %><%= @member.last_name %>
</div>
<div>
	<p>フリガナ</p>
	<%= @member.kana_first_name %><%= @member.kana_last_name %>
</div>
<div>
	<p>郵便番号</p>
	<%= @member.postcode %>
</div>
<div>
	<p>住所</p>
	<%= @member.address %>
</div>
<div>
	<p>電話番号</p>
	<%= @member.phone_number %>
</div>
<div>
	<p>メールアドレス</p>
	<%= @member.email %>
</div>
<div>
	<%= link_to '編集する', edit_admins_member_path(@member) ,class: "btn btn-primary	 col-xs-12" %>
</div>
<div>
	<%= link_to '注文履歴一覧を見る', admins_order_path(@member) ,class: "btn btn-success col-xs-12"%>
</div>
