<% if @datas.present? %>
<% @datas.each do |data| %>
<%  if @model == 'member' %>
<table class='table'>
	<tr>
		<th>会員名</th>
	</tr>
	<tr>
		<td>
			<%= data.last_name %><%= data.first_name %>
		</td>
	</tr>
	<td><%= link_to "詳細へ", admins_member_path(data) %></td>
</table>
<% elsif @model == "product" %>
	<table class='table'>
	<tr>
		<th>商品名</th>
		<th>ジャンル</th>
		<th>イメージ</th>
	</tr>
	<tr>
		<td>
			<%= data.name %>
		</td>
		<td>
			<%= data.genre.name  %>
		</td>
		<td>
		<%= attachment_image_tag(data, :image, size: "50x50") %>
	    </td>
		<td><%= link_to "詳細へ", admins_product_path(data) %></td>
	</tr>
</table>
<% end %>
<% end %>
<% end %>