<div class= "container">
	<div class= "row">
		<div lass= "col-md-2">
			<div class="box18">
				<p>ジャンル検索</p>
					<%if @genres.present? %>
					<% @genres.each do |genre| %>
					<table>
						<tr>
							<td>
								<%= link_to members_products_path(genre.id) do %>
								<%= genre.name %></p></h4>
								<% end %>
							</td>
						</tr>
					</table>
					<% end %>
					<% end %>
				</end>
			</div>
		</div>
		<div  class= "col-md-12">
			<div id="theTarget">
				<div class="image1"></div>
				<div class="image2"></div>
				<div class="image3"></div>
				<div class="image4"></div>
			</div>
			<p class="main-visual-text">
				Welcome to NaganoCake！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。</p>
		</div>
		  <div>
		  	<h2>オススメ商品</h2>
			<%if @products.present? %>
			<% @products.shuffle.first(4).each do |product| %>
		 
		    <div class="float-left">
					<p><%= attachment_image_tag(product, :image, size: "50x50") %></p>
					<p><%= product.name %></p>
					<p><%= product.unit_price %></p>
			</div>
			<% end %>
			<% end %>
	      </div>
		</div>
		<div>
			<%= link_to "もっと見る",new_member_session_path,class: "btn btn-primary col-xs-12" %>
		</div>
		<div>
			<%= link_to '管理者ログイン',new_admin_session_path ,class: "btn btn-success col-xs-12"%>
		</div>
		<div>
	</div>
</div>