<div class=“show-container” style=“width:50%; margin: 20px auto;“>
	<h4 style=“margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;“>マイページ</h4>
	<table class=“table table-condensed”>
		<tbody>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>名前</th>
				<td><%= current_member.last_name %> <%= current_member.first_name %></td>
			</tr>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>フリガナ</th>
				<td><%= current_member.kana_last_name %> <%= current_member.kana_last_name %></td>
			</tr>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>郵便番号</th>
				<td>〒 <%= current_member.postcode %></td>
			</tr>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>住所</th>
				<td><%= current_member.address %></td>
			</tr>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>電話番号</th>
				<td><%= current_member.phone_number %></td>
			</tr>
			<tr>
				<th style=“background-color: #DAD7D7; border-bottom: 1px solid #fff;“>メールアドレス</th>
				<td style=“border-bottom: 1px solid #DAD7D7;“><%= current_member.email %></td>
			</tr>
		</tbody>
	</table>