<div>
<p>商品一覧</p>
<table>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜き価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
		<%if @products.present? %>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= link_to admins_product_path(product) do %>
				<%= product.name %>
				<% end %>
			</td>
			<td><%= product.unit_price %></td>
			<td><%= product.genre.name %></td>
			<td><%= product.sale_status_i18n %></td>
		</tr>
		<% end %>
		<% end %>
	</table>
</div>