<style>
 th {
 	background: #FFAD90;
 }
</style>

<div class="row" style= "width: 80%; margin: 20px auto;">
  <div class="form-horizontal">
      <h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">商品一覧画面</h4>
    </div>
  </div>
  <div class="container" style="position:relative;">
<table class="table table-bordered">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜き価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
		<%if @products.present? %>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= link_to admins_product_path(product) do %>
				<%= product.name %>
				<% end %>
			</td>
			<td><%= product.unit_price %></td>
			<td><%= product.genre.name %></td>
			<td><%= product.sale_status_i18n %></td>
		</tr>
		<% end %>
		<% end %>
	</table>
	</div>
</div>