<h1>商品　新規登録画面</h1>
<%= form_for(@product,url:admins_products_path) do |f| %>
<% if @product.errors.any? %>
	<h3><%= @product.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @product.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
    <div class="field">
	<%= f.label :image %>
	<%= f.attachment_field :image %>
	</div>

	<div class="field row">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field row">
		<%= f.label :introduction %>
		<%= f.text_area :introduction %>
	</div>

	<div class="field row">
		<%= f.label :genre_id %>
		<%= f.collection_select :genre_id, Genre.all,:id, :name  %>
	</div>


	<div class="field row">
		<%= f.label :unit_price %>
		<%= f.text_area :unit_price %>
	</div>

	<div class="field row">
        <%= f.select :sale_status, Product.sale_statuses_i18n.keys.map { |k| [Product.sale_statuses_i18n[k], k]} %>
      </td>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>