<style>
 th {
 	background: #FFC7AF;
 	text-align: center;
 }
 td {
 	text-align: center;
 }
</style>

<div class="row" style= "width: 80%; margin: 20px auto;">
	<div class="form-horizontal">
		<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">注文一覧画面</h4>
	</div>
</div>

<div class="container">
	<div class="row" style= "width: 80%; margin: 20px auto;">
		<table class="table">
			<tr>
				<th>購入日時</th>
				<th>購入者</th>
				<th>注文個数</th>
				<th>注文ステータス</th>
			</tr>
			<% @orders.each do |order| %>
			<tr>
				<td><%= link_to(admins_order_path(order)) do %>
					<%= simple_time(order[:created_at]) %>
					<% end %>
				</td>
				<% sum = 0 %>
				<td><%= order.member.last_name %><%= order.member.first_name %></td>
				<td><% order.order_products.each do |order_product| %>
					<% sum += order_product.quantity %>
					<% end %>
					<%= sum %>
				</td>
				<td><%= order.order_status_i18n %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>