<h1>注文詳細画面</h1>

<div>購入者
	<%= link_to(admins_member_path(@order)) do %>
	<%= @order.member.last_name %><%=  @order.member.first_name %>
		<% end %>
</div>
<div>配送先
	<%= @order.postcode %><%= @order.address %>
	<%= @order.name %>
</div>
<div>支払方法
	<%= @order.payment_method_i18n %>
</div>
<%= form_for @order,url:admins_order_path(@order) do |f| %>
<div>注文ステータス
	<%= f.select :order_status, Order.order_statuses_i18n.keys.map {|k| [Order.order_statuses_i18n[k], k]} %>
	<%= f.submit '更新', class: "btn-sm btn-success"%>
</div>
<% end %>
<table>
	<tr>
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
		<th>制作ステータス</th>
		<th></th>
	</tr>
	<% @order.order_products.each do|order_product| %>
	<tr>
		<td><%= order_product.product.name %></td>
		<td><%= order_product.product.unit_price %></td>
		<td><%= order_product.quantity %></td>
		<td><%= (
		order_product.product.unit_price * 1.10 * order_product.quantity).to_i.to_s(:delimited)%></td>
		<td>
		<%= form_for order_product,url: admins_order_product_path(order_product) do |o| %>
			<%= o.select :product_status, OrderProduct.product_statuses_i18n.keys.map {|k| [OrderProduct.product_statuses_i18n[k], k]} %>

		<%= o.submit '更新', class: "btn-sm btn-success"%>
		<% end %>
		</td>
		<% end %>
	</tr>
</table>
<div>商品合計
	<%= (@total_price * 1.1).round %>
</div>
<div>送料
	<%= @order.postage %>
</div>
<div>請求金額合計
	<%= @order.billing_amount %>
</div>