<!DOCTYPE html>
<html>
  <head>
    <title>namespace - admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

	 <header class="navbar navbar-light" style="background-color: #FFE4B5;"">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <div class= "navbar-header w-100 nav-justified">
          <h2 class="navbar-brand navbar-right">NAGANO CAKE</h2>
        </nav>
          <nav>
          <ul class="nav nav-tabs">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if admin_signed_in? %>
            <li><%= link_to '商品一覧', admins_products_path, class: "nav-link disabled" %></li>
            <li><%= link_to '会員一覧', admins_members_path, class: "nav-link disabled" %></li>
            <li><%= link_to '注文履歴', admins_orders_path, class: "nav-link disabled" %></li>
            <li><%= link_to 'ジャンル管理', admins_genres_path, class: "nav-link disabled" %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path,method: :delete, class: "nav-link disabled" %></li>
            <% end %>
          </ul>
        </div>
        </nav>
      </div>
    </header>
	<!-- /header -->
<% content_for :content do %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
</body>
</html>