<!DOCTYPE html>
<html>
  <head>
    <title>namespace - member</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

	 <header class="navbar-brand-center" style="background-color: #FFE4B5;">
      <div class="container">
        <div class="navbar-nav ml-auto mr-auto">
          <em><h2 class="navbar-brand navbar-right">NAGANO CAKE</h2><em></header>
            <% if member_signed_in? %>
          <nav>
          <ul class="nav-list">
            <li class="nav-list-item"><%= link_to 'マイページ', members_member_path(current_member), class: "nav-link disabled" %></li>
            
            <li class="nav-list-item"><%= link_to '商品一覧',members_products_path, class: "nav-link disabled" %></li>
            
            <li class="nav-list-item"><%= link_to 'カート', members_cart_product_path(current_member), class: "nav-link disabled" %></li>
            
            <li class="nav-list-item"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete,class: "nav-link disabled" %></li>
            <% else %>
            
            <li class="nav-list-item"><%= link_to '商品一覧', members_products_path, class: "nav-link disabled" %></li>
           
            <li class="nav-list-item"><%= link_to '新規登録', new_member_registration_path, class: "nav-link disabled" %></li>
            
            <li class="nav-list-item"><%= link_to 'ログイン', new_member_session_path, class: "nav-link disabled" %></li>
            <% end %>
          </ul>
        </nav>

        </div>
        
      </div>
    
	<!-- /header -->
<% content_for :content do %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
</body>
</html>