<div class="show-container" style="width:50%; margin: 20px auto;">
	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">マイページ</h4>

	<table class="table table-condensed">
		<tbody>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">名前</th>
				<td><%= @member.last_name %> <%= @member.first_name %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">フリガナ</th>
				<td><%= @member.kana_last_name %> <%= @member.kana_last_name %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">郵便番号</th>
				<td>〒 <%= @member.postcode %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">住所</th>
				<td><%= @member.address %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">電話番号</th>
				<td><%= @member.phone_number %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">メールアドレス</th>
				<td style="border-bottom: 1px solid #dad7d7;"><%= @member.email %></td>
			</tr>

		</tbody>
	</table>
	<%= link_to '登録情報を編集する', edit_member_path(@member), class:"btn btn-info" %>
	<%= link_to 'パスワードを編集する', edit_member_registration_path, class:"btn btn-success" %>
	<hr>
	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">配送先</h4>
		<%= link_to destinations_path do %>
			一覧を見る<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	<hr>
	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">注文履歴</h4>
		<%= link_to orders_path(id: @user.id) do %>
			一覧を見る<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	<hr>
</div>